body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{ 
}

footer{
    
}


/*      DEBUG settings      */

.debug .header_top{
    background-color: rgb(192, 236, 236);
}

.debug .header_bottom{
    background-color: rgb(38, 29, 205);
}


.debug .navigation_links{
    background-color: yellow;
    width: 30%;
}

.debug .header_top div{
    background-color: yellow;
    width: 15%;
}

.debug .header-info{
    background-color: blueviolet;
}

.dotted{
    border: dotted 2px black;
}

.debug .section_img{
    background: rgb(55, 105, 212);
}

.debug .reverse_section{
    background-color: grey;
}


.debug .section_desc{
    background-color: rgb(238, 181, 252);
}

.debug .last_section{
    background-color: grey;
}

.debug .last_section_info{
    background-color: green;
}


.debug footer{
    background-color: rgb(36, 35, 35);
}


.debug #social{
    background-color: rgb(127, 155, 255);
}

.debug .generic_section_footer{
    background-color: aquamarine;
}
.debug .footer_bottom .container_div_footer{
    background-color: aquamarine;
}

.debug .logo_footer{
    background-color: rgb(203, 113, 10);
}

.debug .bttn_footer{
    background-color: rgb(203, 113, 10);
}

/*  end DEBUG settings*/


.header_top{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 60%;
} 

.navigation_links{
    height: 60%;
}

.login{
    height: 60%;
}

.header_bottom{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px rgb(11, 118, 211) solid;
}

.header-info{
    width: 50%;
    height: 80%;
}

main section{
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse_section{
    flex-direction: row-reverse;
}

section .section_img{
    width: 40%;
    height: 80%;
}

section .section_desc{
    width: 20%;
    height: 80%;
}

.last_section{
    height: 800px;
}

.last_section_info{
    height: 85%;
    width: 60%;
}

.footer_top{
    height: 500px;
    border-bottom: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social{
    width: calc(60%/6 *2);
}

.generic_section_footer{
    height: 90%;
    width: calc(60%/6);
    border: 2px white dotted;
}

.footer_bottom{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer_bottom .container_div_footer{
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_footer{
    padding: 10px 20px;
}

.bttn_footer{
    padding: 10px 20px;
}